/* .delete-button, .update-button{
  padding: 0;
  border: none;
  background: none;
}
.hidden {
  display: none;
}
* {
  font-family: "Lato";
  margin: 5px;
  color: #1c3b63;
  /* text-align: center; */
}

body {
  background-color: ##FBF5F1
  padding: 1rem;
  margin: 0;
  border-radius: 30px;
}

#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px 20px;
}

#main h1 {
  text-align: center;
  
}
#login-form {
  display: none;
}
form {
  width: 100%;
  font-size: 18px;
  margin: 5px;
  line-height: 30px;
  padding: 25px;
  /* padding-top: 90px; */
}
input {
  margin: 5px 0;
  border: grey solid 1px;
  
}

img {
  justify-self: center;
  height: 12rem;
  width: auto;
}
#new-activity-btn, #update-user-btn #delete-user-btn{
  margin: 30px 0 10px  10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #1c3b63;
    color: #acdcd4;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    
  }
  .infocard {
    margin: auto;
    font-size: 15px;
    cursor: pointer;
    background-color: #1c3b63;
    color: #acdcd4;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    width: 60%;
    
    
  }
  
  #new-activity-btn:hover {
    background-color: #444
  }
    
.activity-container {
  align-content: center;
  text-align: center;
}

.card {
  border: #f9d776 solid 10px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 0.5rem;
  overflow:scroll
  
}
.card img{
  width: 100%;
}
.card h4 {
  font-weight: bold;
}
.card h5 {
  color: #7c459a;
}
.card h6 {

}
.card span.like {
  font-size: 20px;
  cursor: pointer;
}

.card span {

  display:inline;
  white-space: nowrap;
  display:inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #7c459a;
  text-align: left;
}
.card p {
  font-size: 14px;
  text-align-last: center:

}

.food {
  border: #d7eff8 solid 10px;
}
.coffee {
  border: #acdcd4 solid 10px;
}


/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  margin: 0;
  background-color: #f9d776;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links  */
.sidebar a {
  /* padding: 8px 8px 8px 32px; */
  /* text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  color: #818181; */
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #818181;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #1c3b63;
  color: #acdcd4;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  align-content: flex-end;
}

.openbtn:hover {
  background-color: #444
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  position: absolute;
  z-index: -5;
  top: 180px;
  bottom: 0;
  right:0;
  /* height: 100%; */
  width: 50%;
  border-radius: 10px;
  border: 10px solid #1c3b63;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  /* position: absolute; */
  /* top: 150px; */
  z-index: 5;
  margin-left: auto;
  margin-right: auto;

  /* background-color: #fff; */
  padding: 2em;
  /* border: 1px solid #999; */
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}


/* The Modal (background) */
.modal, .userModal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .userModal-content {
  background-color: #acdcd4;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.user-btn {
  position: relative;
  border: none;
  border-radius: 5px;
  width: max-content;
  font-size: 16px;
  justify-self: center;
}

.column-left {
  float: left;
  width: 50.00%;
}
.column-right {
  /* float: right; */
  width: 50.00%;
}

nav span {
  /* flex-direction: row; */
  /* justify-content: center; */
  color: red;
  /* padding: 100px; */

}

nav {
  background: #f9d776;
  height: 100px;
  width: 100%;
  top: 0;
  padding: 25px;
  border: 0;
  align-content: space-between;
  vertical-align: middle;
}

.comment-list {
  list-style-type:none;
}

  /* When you mouse over the navigation links, change their color */
  /* .sidebar a:hover {
    color: #f1f1f1;
  } */

   */